.blog{
    background-color: rgb(85, 85, 85);
}

.tarjetaNoticia{
    background-color: aliceblue;
}

.tarjetaNoticia h3{
    display: flex;
    justify-content: center;
}

h1, strong{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}