.header{
    background-color: rgb(105, 105, 105);
    box-shadow: 10px 10px 5px rgb(75, 75, 75);
}

.titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: aliceblue;
    margin-left: 1%;
}