<nav class="navbar bg-body-secondary fixed-top shadow">
    <div class="container-fluid ">
        <a class="navbar-brand "><i class="bi bi-person-fill d-flex justify-content-center"></i> App-Users</a>
        <div class="d-flex">
            <a class="nav-link me-4" aria-current="page" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a class="nav-link " aria-current="page" routerLink="/newuser" routerLinkActive="active">NuevoUsuario</a>
        </div>
    </div>
</nav>