.hero {
    height: 50vh;
    background-color: #ff8c42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero2 {
    height: 50vh;
    background-color: #f5f5dc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero3 {
    height: 50vh;
    background-color: #8b4513;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero4 {
    height: 50vh;
    background-color: #2d5016;
    display: flex;
    justify-content: center;
    align-items: center;
}
